.green {

    color:rgb(188, 250, 94);
    font-size: 50px;
}

#big { 
    font-size: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(media/love\ basketball.png);
    background-repeat: repeat;
    background-size: cover;
}

#catposition {
    background-color: blueviolet;
    position: absolute;
    top: 100px;
    left: 300px;
    
}

#texblock {
    background-color: antiquewhite;
    width: 70%;
}


